body{
    background-color: aliceblue;
}

.content{
    display:block;
}

@media (max-width: 1199px) {
    content {
      display: none;
    }
  }
  
.topContainer {
    background-color: #008ECC;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.title {
    color: white;
    font-size: 2em;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.customBtn{
    background-color: DeepSkyBlue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 10px;
    margin-right:2em;
}

.customBtn:hover {
    background-color: #00a1e0;
}

.filterContainer {
    margin-left: auto;
    position: relative;
}

.filterOption {
    display:none;   
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    z-index: 10000;
}

.canvasContainer{
    position:relative;
}

#eventsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
    min-height: 100vh;
}

.eventCanvas {
    margin: 20px 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box; 
}

.registerBtn {
    position: absolute;
    width: auto; 
    height: 40px;
    padding: 0 20px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    min-width: 150px;
}

.registerBtn:hover {
    background-color: darkblue;
}

#map {
    width: 80%;
    height: 75vh;
    margin-top: 25px;
    margin-bottom: 25px;
}   

#alertContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 90%;
}